.thumbnail {
  background: #000;
  height: 300px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.thumbnail-arrow-container:hover {
  background: rgba(0, 0, 0, 0.3);
}

.thumbnail-arrow-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50px;
  background: none;
  display: flex;
  flex-direction: column;
  z-index: 2;
  justify-content: center;
}

.thumbnail-left-arrow-container {
  left: 0;
}

.thumbnail-right-arrow-container {
  right: 0;
}

.thumbnail-arrow {
  top: 50%;
  right: 30px;
  width: 30px;
  height: 30px;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  box-shadow: inset -4px 4px 0 0 #fff;
  border-radius: 0 0.15em 0 0;
}

.thumbnail-left-arrow {
  transform: rotate(225deg);
  margin-left: 15px;
}

.thumbnail-right-arrow {
  transform: rotate(45deg);
  margin-left: 5px;
}

img {
  z-index: 1;
  display: block;
}
