.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;
  max-width: 1290px;
  grid-column-gap: 30px;
}

@media (max-width: 1290px) {
  .list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 860px) {
  .list {
    grid-template-columns: 1fr;
  }
}

.list-item {
  display: block;
  position: relative;
  z-index: 1;
  display: block;
  background: #fff;
  min-width: 270px;
  height: 470px;
  width: 400px;
  border-radius: 1px;
  margin-bottom: 30px;
  color: #000;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.list-item:hover {
  cursor: pointer;
}

.list-item-description {
  font-size: 0.5em;
  text-align: left;
  line-height: 1.3em;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 170px;
  padding: 1em;
}

.thumbnail {
  background: #000;
  height: 300px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.thumbnail-arrow-container:hover {
  background: rgba(0, 0, 0, 0.3);
}

.thumbnail-arrow-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50px;
  background: none;
  display: flex;
  flex-direction: column;
  z-index: 2;
  justify-content: center;
}

.thumbnail-left-arrow-container {
  left: 0;
}

.thumbnail-right-arrow-container {
  right: 0;
}

.thumbnail-arrow {
  top: 50%;
  right: 30px;
  width: 30px;
  height: 30px;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  box-shadow: inset -4px 4px 0 0 #fff;
  border-radius: 0 0.15em 0 0;
}

.thumbnail-left-arrow {
  transform: rotate(225deg);
  margin-left: 15px;
}

.thumbnail-right-arrow {
  transform: rotate(45deg);
  margin-left: 5px;
}

img {
  z-index: 1;
  display: block;
}
