.property-details {
  width: 70%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.property-details .details {
  width: 33%;
  min-width: 300px;
  float: left;
  margin-right: 10px;
  height: 300px;
  background-color: #fff;
  color: #000;
  font-size: 0.7em;
  text-align: left;
  padding: 1em;
}

.property-details .details h2 {
  font-size: 1.2em;
  margin-bottom: 1em;
}

.property-details .details p {
  line-height: 1.5em;
}

.property-details .gallery {
  width: 66%;
  max-width: 400px;
  height: 300px;
  position: relative;
  overflow: hidden;
  min-width: 300px;
}

@media (max-width: 710px) {
  .property-details {
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
  }

  .property-details .details {
    width: 400px;
    margin: 0;
  }

  .property-details .gallery {
    width: 400px;
  }
}
